
<?xml version="1.0" encoding="UTF-8"?>

<configuration> 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">                                                                                                                                                                        
		<encoder>                                                                                                                                                                                                                                 
			<pattern> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>                                                                                                                                                             
		</encoder>                                                                                                                                                                                                                                
	</appender>

 	<appender name="FILE-LOG" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<key>traineeCode</key>
			<defaultValue>traine.axelor</defaultValue>
		</discriminator>
		<sift>
			<appender name="traineeCode"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>log/${traineeCode}.log</file>
			
				<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
					<Pattern>
						%d{yyyy-MM-dd HH:mm:ss} [%thread] %level %logger{35} - %msg%n
					</Pattern>
				</encoder>
			
				<rollingPolicy
					class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
					<FileNamePattern>log/${traineeCode}.%i.log.zip
					</FileNamePattern>
					<MinIndex>1</MinIndex>
					<MaxIndex>10</MaxIndex>
				</rollingPolicy>
			
				<triggeringPolicy
					class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<MaxFileSize>10MB</MaxFileSize>
				</triggeringPolicy>

			</appender>
		</sift>
	</appender>

  <logger name="com.axelor.app" level="info">
  	<appender-ref ref="FILE-LOG" />
  </logger>
	
  <root level="INFO">
    <appender-ref ref="STDOUT" />                                                                                                                                                                                                             
  </root>
</configuration>